<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cutsomnavigation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view_Prescription_detail_patient"
            android:exported="false" />
        <activity
            android:name=".View_Doctor_Patient"
            android:exported="false" />
        <activity
            android:name=".Chat_Patient"
            android:exported="false" />
        <activity
            android:name=".Update_Appointment_Patient"
            android:exported="false" />
        <activity
            android:name=".Make_Appointment_Patient"
            android:exported="false" />
        <activity
            android:name=".Manage_Profile_Patient"
            android:exported="false" />
        <activity
            android:name=".View_Presciption_Details_Doctor"
            android:exported="false" />
        <activity
            android:name=".Chat_Doctor"
            android:exported="false" />
        <activity
            android:name=".Appointment_Doctor"
            android:exported="false" />
        <activity
            android:name=".Manage_Profile_Doctor"
            android:exported="false" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".chat_admin"
            android:exported="false" />
        <activity
            android:name=".Manage_Patient_Admin"
            android:exported="false" />
        <activity
            android:name=".Manage_Doctor_Admin"
            android:exported="false" />
        <activity
            android:name=".Overview_admin"
            android:exported="false" />
        <activity
            android:name=".Activity_main_Admin"
            android:exported="false" />
        <activity
            android:name=".Activity_main_Doctor"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login_Sign_up"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>